{% extends 'login/_parts/_login_template.html.twig' %}

{% block title %}Register{% endblock %}

{% block form %}
    <div class="loginform__form py-3 px-1 p-md-3 rounded-3">
        <h2 class="h2 text-center">Register</h2>

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button class="btn btn-primary" type="submit">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
