{% extends 'base.html.twig' %}

{% block title %}Confirm Booking{% endblock %}

{% block body %}
    <h1 class="mt-4 mb-3 text-center">New Booking</h1>

    <div class="row">
        <nav class="my-4 col-12 d-flex justify-content-around" aria-label="breadcrumb">
            <div class="d-flex py-2 px-3 border rounded">
                <ol class="breadcrumb m-0 justify-content-center">
                    <li class="breadcrumb-item">Create</li>
                    <li class="breadcrumb-item active">Confirm</li>
                    <li class="breadcrumb-item">Created</li>
                </ol>
            </div>
        </nav>
    </div>

    <form class="form border border-primary bg-light rounded p-3" action="{{ path('app_booking_process_and_show_confirmation') }}" method="post">
        <div class="form-floating m-3">
            <select class="form-select" id="allBookables" disabled>
                <option value="{{ bookable.id }}"> {{ bookable.code }}</option>
            </select>
            <input type="hidden" value="{{ bookable.id }}" name="bookable" />
            <label for="allBookables">Available Bookables</label>
        </div>
        <div class="form-floating m-3">
            <input class="form-control" type="date" id="fromDate" value="{{ fromDate | date('Y-m-d') }}" disabled>
            <input type="hidden" value="{{ fromDate | date('Y-m-d') }}" name="fromDate" />
            <label for="fromDate">From Date</label>
        </div>
        <div class="form-floating m-3">
            <input class="form-control" type="date" name="toDate" id="toDate" value="{{ toDate | date('Y-m-d') }}" disabled>
            <input type="hidden" value="{{ toDate | date('Y-m-d') }}" name="toDate" />
            <label for="toDate">To Date</label>
        </div>
        <div class="row justify-content-center m-3">
            <button type="submit" class="btn btn-primary btn-lg col-3 bg-primary" id="submitBtn">Confirm</button>
        </div>
    </form>
{% endblock %}



