{% extends 'base.html.twig' %}

{% block title %}New Booking{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('newBooking') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('newBooking') }}
{% endblock %}

{% block body %}
    <h1 class="mt-4 mb-3 text-center">Create New Booking</h1>

    <div class="row">
        <nav class="my-4 col-12 d-flex justify-content-around" aria-label="breadcrumb">
            <div class="d-flex py-2 px-3 border rounded">
                <ol class="breadcrumb m-0 justify-content-center">
                    <li class="breadcrumb-item active">Create</li>
                    <li class="breadcrumb-item">Confirm</li>
                    <li class="breadcrumb-item">Finish</li>
                </ol>
            </div>
        </nav>
    </div>

    <form class="form border border-primary bg-light rounded p-3" action="" method="post">
        <div class="form-floating m-3">
            <select class="form-select" name="bookable" id="allBookables">

                {% for bookable in allBookables %}
                    <option value="{{ bookable.id }}"{{ bookable.id == selectedBookable.id ? 'selected' : '' }}> {{ bookable.code }}</option>
                {% endfor %}

            </select>
            <label for="allBookables">Available Bookables</label>
        </div>
        <div class="form-floating m-3">
            <input class="form-control" type="date" id="fromDate" value="Y-m-d" min="{{ todaysDate | date('Y-m-d') }}">
            <label for="fromDate">From Date</label>
        </div>
        <div class="form-floating m-3">
            <input class="form-control" type="date" id="toDate">
            <label for="toDate">To Date</label>
        </div>
        <div class="row justify-content-center m-3">
            <button type="submit" class="btn btn-primary btn-lg col-3 bg-primary" id="submitBtn" disabled>Create</button>
        </div>
    </form>

{% endblock %}