{% extends '_templates/base.html.twig' %}
{% set module = 'admin' %}

{% block title %}Admin Panel{% endblock %}

{% block main_header %}Manage Bookables Availability{% endblock %}

{% block body %}

     <p class="text-center">Insert a new <a href="{{ path('app_unavailabledates_showcreateunavailabledatespage') }}">Unavailable Date</a></p>

    <table id="unavailableDatesTable" class="table">
        <thead>
        <tr>
            <th class="col-table text-center"
                data-col-name="bookable"
                data-col-selected="{{ (selectedCol == 'bookable') ? 'true' : 'false' }}"
                data-col-order="{{ (selectedCol == 'bookable') ? selectedOder : 'desc' }}"
                scope="col"
            >Bookable Code<button class="order-btn mx-3 btn btn-outline-dark btn-sm"><i class="bi bi-arrow-down-up"></i></button></th>
            <th class="col-table text-center"
                data-col-name="startdate"
                data-col-selected="{{ (selectedCol == 'startdate') ? 'true' : 'false' }}"
                data-col-order="{{ (selectedCol == 'startdate') ? selectedOder : 'desc' }}"
                scope="col"
            >Start Date<button class="order-btn mx-3 btn btn-outline-dark btn-sm"><i class="bi bi-arrow-down-up"></i></button></th>
            <th class="col-table text-center"
                data-col-name="enddate"
                data-col-selected="{{ (selectedCol == 'enddate') ? 'true' : 'false' }}"
                data-col-order="{{ (selectedCol == 'enddate') ? selectedOder : 'desc' }}"
                scope="col"
            >End Date<button class="order-btn mx-3 btn btn-outline-dark btn-sm"><i class="bi bi-arrow-down-up"></i></button></th>
            <th class="col-table text-center"
                data-col-name="notes"
                scope="col"
            >Notes</th>
            <th class="col-table text-center" scope="col">Past Unavailable Dates
                <input id="pastUnavailabledates" class="form-check-input" type="checkbox" {{ (pastUnavailabledates == 'true') ? 'checked' : '' }}></th>
        </tr>
        </thead>
        <tbody>
        {% if pager.nbResults > 0 %}
            {% for unavailableDates in pager %}
                <tr class="{{ (unavailableDates.endDate <  todaysDate ) ? 'bg-dark bg-opacity-10' : '' }}">
                    <td class="text-center">{{ unavailableDates.bookable.code }}</td>
                    <td class="text-center">{{ unavailableDates.startDate | date('d/m/Y') }}</td>
                    <td class="text-center">{{ unavailableDates.endDate | date('d/m/Y') }}</td>
                    <td class="text-center">{{ unavailableDates.notes }}</td>
                    <td class="text-center">
                        <button class="btn btn-outline-warning btn-sm edit-btn"
                                data-bs-booking-id="{{ unavailableDates.id }}"
                                {{ (unavailableDates.endDate <  todaysDate ) ? 'disabled' : '' }}
                        >Modify</button>
                        <button type="button" class="btn btn-outline-danger btn-sm"
                                data-bs-toggle="modal"
                                data-bs-target="#deleteConfirmation"
                                data-bs-booking-id="{{ unavailableDates.id }}"
                                {{ (unavailableDates.endDate <  todaysDate ) ? 'disabled' : '' }}
                         >Delete</button>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="5" class="text-center">No current Unavailable Dates, please chech for past ones</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    {% if pager.nbPages > 1 %}
        {% include "_parts/pagers/_list_bookings_pager.html.twig" with { "pager": pager } %}
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="deleteConfirmation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Deletion Confirmation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete the Unavailable-Dates id #<span id="data-bs-confirmation"></span>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                    <form action="{{ path('app_unavailabledates_deleteunavailabledateperiod') }}" method="post">
                        <input type="hidden" name="unavailableId" id="unavailableId" value="">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('deleteUnavailableDate') }}">
                        <button id="deleteConfirmationBtn" type="submit" class="btn btn-danger" data-booking-id="">DELETE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}