{% extends '_templates/base.html.twig' %}
{% set module = 'options' %}

{% block title %}User Panel{% endblock %}

{% block body %}

    <h1 class="mt-4 mb-3 text-center">Change Password</h1>

    <div class="p-3 bg-light rounded border border-primary border-1">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_help(form) }}
        {{ form_row(form.currentPassword) }}
        {{ form_rest(form) }}
        <a class="btn btn-primary bg-light m-3" href="{{ path('app_userpanel_showpanel') }}">Return</a>
        <button class="btn btn-primary m-3" type="submit">Change Password</button>
        {{ form_end(form) }}
    </div>

{% endblock %}