<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}

    <title>Login Page</title>
</head>
<body>

<main>
    <div class="container-md">

        <div class="row vh-100 justify-content-center align-content-center">
            <h1 class="text-center">LBX Desk Sharing</h1>
            <form class="loginform__form py-3 px-1 p-md-3 rounded-3" action="{{ path('app_login') }}" method="post">

                <div class="error-display {{ error ? 'error-display__show' : '' }} alert alert-danger">
                    <ul class="m-0 p-0 px-2">
                        {% if error %}
                            <li>{{ error.messageKey|trans(error.messageData, 'security') }}</li>
                        {% endif %}
                    </ul>
                </div>

                <input type="text" id="email" name="email" value="{{ last_username }}" class="loginform__username rounded-2 w-100" required>
                <label for="email" class="loginform__usernameLbl w-100">User Name</label>
                <input type="password" id="password" name="password" class="loginform__password rounded-2 w-100" required>
                <label for="password" class="loginform__passwordLbl w-100">Password</label>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <button id="submit-btn" type="submit" class="btn loginform__btn">Submit</button>
            </form>
        </div>
    </div>
</main>

</body>
</html>