{% extends '_templates/base.html.twig' %}

{% block title %}All Bookings{% endblock %}

{% block body %}
    <h1 class="mt-4 mb-3 text-center">All Bookings</h1>

    <table class="table">
        <thead>
        <tr>
            <th class="text-center" scope="col">Resource</th>
            <th class="text-center" scope="col">Confirmation #</th>
            <th class="text-center" scope="col">Start Date</th>
            <th class="text-center" scope="col">End Date</th>
            <th class="text-center" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for booking in pager %}
            <tr>
                <td class="text-center">{{ booking.bookable.code }}</td>
                <td class="text-center">{{ booking.confirmation }}</td>
                <td class="text-center">{{ booking.startDate | date('d/m/Y') }}</td>
                <td class="text-center">{{ booking.endDate | date('d/m/Y') }}</td>
                <td class="text-center">
                    <a href="#" class="btn btn-outline-warning btn-sm">Modify</a>
                    <a href="#" class="btn btn-outline-danger btn-sm">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="d-flex mt-3 mb-4 justify-content-center pagerfanta">
        {{ pagerfanta(pager, 'twitter_bootstrap5') }}
    </div>
{% endblock %}



