{% extends '_templates/base.html.twig' %}
{% set module = 'bookings' %}

{% block title %}All Bookings{% endblock %}

{% block body %}

    <div class="{{ (pager.nbResults > 0) ? '': 'visually-hidden' }}">

        <h1 class="mt-4 mb-3 text-center">All Bookings</h1>

        {% if hasOnlyPastBookings %}
            <p class="text-center">No actual booking available, make a <a href="{{ path('app_booking_new') }}">new booking</a>
        {% endif %}

        {% include "_parts/tables/_listAllBookingsTable.html.twig" with {
            "selectedCol": selectedCol,
            "selectedOder": selectedOder,
            "pastBookings": pastBookings,
            "pager": pager,
            "todaysDate": todaysDate
        } %}

        {% if pager.nbPages > 1 %}
            {% include "_parts/pagers/_listBookingsPager.html.twig" with { "pager": pager } %}
        {% endif %}

    </div>

    <div class="{{ (pager.nbResults > 0) ? 'visually-hidden': '' }}">
        <h1 class="mt-4 mb-3 text-center">No upcomming bookings</h1>
        <p class="text-center">Make a <a href="{{ path('app_booking_new') }}">new booking</a>
    </div>

    {% include "_parts/modals/_confirmDeletionModal.html.twig" with {
        "action": path('app_booking_delete'),
        "hasCsrf": true,
        "csrfName": "_csrf_token",
        "csrfValue": csrf_token('deleteBooking'),

    } %}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('allBookings') }}
{% endblock %}
