{% extends '_templates/base.html.twig' %}

{% block title %}All Bookings{% endblock %}

{% block body %}

    <div class="{{ (pager.nbResults > 0) ? '': 'visually-hidden' }}">
        <h1 class="mt-4 mb-3 text-center">All Bookings</h1>

        {% if hasOnlyPastBookings %}
            <p class="text-center">No actual booking available, make a <a href="{{ path('app_booking_new') }}">new booking</a>
        {% endif %}

        <table class="table">
            <thead>
            <tr>
                <th class="col-table text-center"
                    data-col-name="resource"
                    data-col-selected="{{ (selectedCol == 'resource') ? 'true' : 'false' }}"
                    data-col-order="{{ (selectedCol == 'resource') ? selectedOder : 'desc' }}"
                    scope="col"
                >Resource<button class="order-btn mx-3 btn btn-outline-dark btn-sm"><i class="bi bi-arrow-down-up"></i></button></th>
                <th class="col-table text-center"
                    data-col-name="confirmation"
                    data-col-selected="{{ (selectedCol == 'confirmation') ? 'true' : 'false' }}"
                    data-col-order="{{ (selectedCol == 'confirmation') ? selectedOder : 'desc' }}"
                    scope="col"
                >Confirmation #<button class="order-btn mx-3 btn btn-outline-dark btn-sm"><i class="bi bi-arrow-down-up"></i></button></th>
                <th class="col-table text-center"
                    data-col-name="startdate"
                    data-col-selected="{{ (selectedCol == 'startdate') ? 'true' : 'false' }}"
                    data-col-order="{{ (selectedCol == 'startdate') ? selectedOder : 'desc' }}"
                    scope="col"
                >Start Date<button class="order-btn mx-3 btn btn-outline-dark btn-sm"><i class="bi bi-arrow-down-up"></i></button></th>
                <th class="col-table text-center"
                    data-col-name="enddate"
                    data-col-selected="{{ (selectedCol == 'enddate') ? 'true' : 'false' }}"
                    data-col-order="{{ (selectedCol == 'enddate') ? selectedOder : 'desc' }}"
                    scope="col"
                >End Date<button class="order-btn mx-3 btn btn-outline-dark btn-sm"><i class="bi bi-arrow-down-up"></i></button></th>
                <th class="col-table text-center" scope="col">Past Bookings
                    <input id="pastBookings" class="form-check-input" type="checkbox" {{ (pastBookings == 'true') ? 'checked' : '' }}></th>
            </tr>
            </thead>
            <tbody>
            {% for booking in pager %}
                <tr class="{{ (booking.endDate <  todaysDate ) ? 'bg-dark bg-opacity-10' : '' }}">
                    <td class="text-center">{{ booking.bookable.code }}</td>
                    <td class="text-center">{{ booking.confirmation }}</td>
                    <td class="text-center">{{ booking.startDate | date('d/m/Y') }}</td>
                    <td class="text-center">{{ booking.endDate | date('d/m/Y') }}</td>
                    <td class="text-center">
                        <button class="btn btn-outline-warning btn-sm"
                                {{ (booking.endDate <  todaysDate ) ? 'disabled' : '' }}
                        >Modify</button>
                        <button type="button" class="btn btn-outline-danger btn-sm"
                                data-bs-toggle="modal"
                                data-bs-target="#deleteConfirmation"
                                data-bs-confirmation="{{ booking.confirmation }}"
                                data-bs-booking-id="{{ booking.id }}"
                                {{ (booking.endDate <  todaysDate ) ? 'disabled' : '' }}
                        >Delete</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="d-flex mt-3 mb-4 justify-content-center pagerfanta">
            {{ pagerfanta(pager, 'twitter_bootstrap5') }}
        </div>
    </div>

    <div class="{{ (pager.nbResults > 0) ? 'visually-hidden': '' }}">
        <h1 class="mt-4 mb-3 text-center">No upcomming bookings</h1>
        <p class="text-center">Make a <a href="{{ path('app_booking_new') }}">new booking</a>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="deleteConfirmation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Deletion Confirmation</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete booking confimation <span id="data-bs-confirmation"></span>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                    <form action="{{ path('app_booking_delete') }}" method="post">
                        <input type="hidden" name="bookingId" id="bookingId" value="">
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('deleteBooking') }}"
                        >
                        <button id="deleteConfirmationBtn" type="submit" class="btn btn-danger" data-booking-id="">DELETE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('allBookings') }}
{% endblock %}
