{% extends '_templates/base.html.twig' %}
{% set module = 'bookings' %}

{% block javascripts %}
    {{ encore_entry_script_tags('allBookings') }}
{% endblock %}

{% block title %}All Bookings{% endblock %}

{% block main_header %}All Bookings{% endblock %}

{% block body %}

    {% if hasBookingsMade %}

        {% if hasOngoingBookings %}
            <p class="text-center">Make a <a href="{{ path('app_booking_new') }}">new booking</a>
        {% else %}
            <p class="text-center">No ongoing bookings, make a <a href="{{ path('app_booking_new') }}">new booking</a>
        {% endif %}

        {% include "_parts/tables/_listAllBookingsTable.html.twig" with {
            "selectedCol": selectedCol,
            "selectedOder": selectedOder,
            "pastBookings": pastBookings,
            "pager": pager,
            "todaysDate": todaysDate
        } %}

        {% if pager.nbPages > 1 %}
            {% include "_parts/pagers/_listBookingsPager.html.twig" with { "pager": pager } %}
        {% endif %}

        {% include "_parts/modals/_confirmDeletionModal.html.twig" with {
            "action": path('app_booking_delete'),
            "hasSelecteduser": false,
            "hasCsrf": true,
            "csrfName": "_csrf_token",
            "csrfValue": csrf_token('deleteBooking'),

        } %}
    {% endif %}

    {% if not hasBookingsMade %}
        <div class="{{ (hasBookingsMade <= 0) ? '': 'visually-hidden' }}">
            <p class="text-center">No past or ongoing Booking found, make a <a href="{{ path('app_booking_new') }}">new booking</a>
        </div>
    {% endif %}

{% endblock %}