{% set from_date = app.request.request.get('from_date') %}
{% set to_date = app.request.request.get('to_date') %}
{% set notes = app.request.request.get('notes') %}

<form class="form border border-primary bg-light rounded p-3" action="{{ action }}" method="post">

    <input type="hidden" name="_csrf_token" value="{{ csrfValue }}">

    <div class="form-floating m-3">
        <select class="form-select" id="allBookables" disabled>
            <option value="{{ bookable.id }}"> {{ bookable.code }}</option>
        </select>
        <input type="hidden" name="bookable" value="{{ bookable.id }}">
        <label for="allBookables">Available Bookables</label>
    </div>

    <div class="form-floating m-3">
        <input class="form-control" type="date" id="fromDate" value="{{ from_date | date('Y-m-d') }}" disabled>
        <input type="hidden" name="from_date" value="{{ from_date | date('Y-m-d') }}">
        <label for="fromDate">From Date</label>
    </div>

    <div class="form-floating m-3">
        <input class="form-control" type="date" id="toDate" value="{{ to_date | date('Y-m-d') }}" disabled>
        <input type="hidden" name="to_date" value="{{ to_date | date('Y-m-d') }}">
        <label for="toDate">To Date</label>
    </div>

    <div class="form-floating m-3">
        <textarea class="form-control" placeholder="Enter notes..." id="notes" disabled>{{ notes }}</textarea>
        <input type="hidden" name="notes" value="{{ notes }}">
        <label for="toDate">Notes</label>
    </div>

    <div class="row justify-content-center m-3">
        <button type="button" class="btn btn-outline-primary btn-lg col-2 m-2" onclick="window.history.back();">Edit</button>
        <button type="submit" class="btn btn-primary btn-lg col-2 bg-primary m-2" id="submitBtn">Confirm</button>
    </div>

</form>