{% set fromDate = app.request.request.get('from_date') %}
{% set toDate = app.request.request.get('to_date') %}

<form class="form border border-primary bg-light rounded p-3" action="{{ action }}" method="post">

    <input type="hidden" name="_csrf_token" value="{{ csrfValue }}">

    {% if hasUserId %}
        <input type="hidden" name="user" value="{{ selectedUser.id }}">
    {% endif %}

    <div class="form-floating m-3">
        <select class="form-select" id="allBookables" disabled>
            <option value="{{ bookable.id }}"> {{ bookable.code }}</option>
        </select>
        <input type="hidden" value="{{ bookable.id }}" name="bookable" />
        <label for="allBookables">Available Bookables</label>
    </div>

    <div class="form-floating m-3">
        <input class="form-control" type="date" id="fromDate" value="{{ fromDate | date('Y-m-d') }}" disabled>
        <input type="hidden" value="{{ fromDate | date('Y-m-d') }}" name="from_date" />
        <label for="fromDate">From Date</label>
    </div>

    <div class="form-floating m-3">
        <input class="form-control" type="date" id="toDate" value="{{ toDate | date('Y-m-d') }}" disabled>
        <input type="hidden" value="{{ toDate | date('Y-m-d') }}" name="to_date" />
        <label for="toDate">To Date</label>
    </div>

    <div class="row justify-content-center m-3">
        <button type="button" class="btn btn-outline-primary btn-lg col-2 m-2" onclick="window.history.back();">Modify</button>
        <button type="submit" class="btn btn-primary btn-lg col-2 bg-primary m-2" id="submitBtn">Confirm</button>
    </div>

</form>