<form class="form border border-primary bg-light rounded p-3" id="newUnavailableDateForm" action="{{ action }}" method="post">

    {% if hasErrors %}
        {% include '_parts/errors/_error_bus_display.html.twig' %}
    {% endif %}

    {% if hasCsrf %}
        <input type="hidden" name="{{ csrfName }}" value="{{ csrfValue }}">
    {% endif %}

    <input type="hidden" name="unavailableDateId" id="unavailableDateId" value="{{ unavailableDate.id }}">

    <div class="form-floating m-3">
        <select class="form-select" id="allBookables" disabled>
            <option value="{{ unavailableDate.bookable.id }}"> {{ unavailableDate.bookable.code }}</option>
        </select>
        <input type="hidden" name="bookable" value="{{ unavailableDate.bookable.id }}">
        <label for="allBookables">Available Bookables</label>
    </div>

    <div class="form-floating m-3">
        {% if fromDate < todaysDate %}
            <input class="form-control" type="date" id="fromDate" value="{{ fromDate | date('Y-m-d') }}" disabled>
            <input type="hidden" name="fromDate" value="{{ fromDate | date('Y-m-d') }}">
        {% else %}
            <input class="form-control" type="date" name="fromDate" id="fromDate" value="{{ fromDate | date('Y-m-d') }}" min="{{ todaysDate | date('Y-m-d') }}">
        {% endif %}
        <label for="fromDate">From Date</label>
    </div>

    <div class="form-floating m-3">
        <input class="form-control" type="date" name="toDate" id="toDate" value="{{ toDate | date('Y-m-d') }}" min="{{ fromDate | date('Y-m-d') }}">
        <label for="toDate">To Date</label>
    </div>

    <div class="form-floating m-3">
        <textarea class="form-control" placeholder="Enter notes..." name="notes" id="notes">{{ unavailableDate.notes }}</textarea>
        <label for="toDate">Notes</label>
    </div>

    <div class="row justify-content-center m-3">
        <button type="button" class="btn btn-outline-primary btn-lg col-2 m-2" onclick="{{ returnTo }}">{{ returnLbl }}</button>
        <button type="submit" class="btn btn-primary btn-lg col-2 bg-primary m-2" id="submitBtn" disabled>{{ submitLbl }}</button>
    </div>

</form>