{% set selectedCol = app.request.query.alpha('col', 'resource') %}
{% set selectedOder = app.request.query.alpha('ord', 'asc') %}
{% set pastBookings = app.request.query.boolean('past', false) %}
{% set currentDate = 'now'|date_modify('midnight')|date() %}

<table id="bookingsTable" class="table">
    <thead>
    <tr>
        <th class="col-table text-center"
            data-col-name="resource"
            data-col-selected="{{ (selectedCol == 'resource') ? 'true' : 'false' }}"
            data-col-order="{{ (selectedCol == 'resource') ? selectedOder : 'desc' }}"
            scope="col"
        >Resource<button class="order-btn mx-3 btn btn-outline-dark btn-sm"><i class="bi bi-arrow-down-up"></i></button></th>
        <th class="col-table text-center"
            data-col-name="confirmation"
            data-col-selected="{{ (selectedCol == 'confirmation') ? 'true' : 'false' }}"
            data-col-order="{{ (selectedCol == 'confirmation') ? selectedOder : 'desc' }}"
            scope="col"
        >Confirmation #<button class="order-btn mx-3 btn btn-outline-dark btn-sm"><i class="bi bi-arrow-down-up"></i></button></th>
        <th class="col-table text-center"
            data-col-name="startdate"
            data-col-selected="{{ (selectedCol == 'startdate') ? 'true' : 'false' }}"
            data-col-order="{{ (selectedCol == 'startdate') ? selectedOder : 'desc' }}"
            scope="col"
        >Start Date<button class="order-btn mx-3 btn btn-outline-dark btn-sm"><i class="bi bi-arrow-down-up"></i></button></th>
        <th class="col-table text-center"
            data-col-name="enddate"
            data-col-selected="{{ (selectedCol == 'enddate') ? 'true' : 'false' }}"
            data-col-order="{{ (selectedCol == 'enddate') ? selectedOder : 'desc' }}"
            scope="col"
        >End Date<button class="order-btn mx-3 btn btn-outline-dark btn-sm"><i class="bi bi-arrow-down-up"></i></button></th>
        <th class="col-table text-center" scope="col">Past Bookings
            <input id="pastBookings" class="form-check-input" type="checkbox" {{ pastBookings or has_only_past_bookings ? 'checked' : '' }}></th>
    </tr>
    </thead>
    <tbody>
    {% for booking in pager %}
        {% set is_past_booking = booking.endDate|date('Ymd') <  currentDate|date('Ymd') %}
        <tr class="{{ is_past_booking ? 'bg-dark bg-opacity-10' : '' }}">
            <td class="text-center">{{ booking.bookable.code }}</td>
            <td class="text-center">{{ booking.confirmation }}</td>
            <td class="text-center">{{ booking.startDate | date('d/m/Y') }}</td>
            <td class="text-center">{{ booking.endDate | date('d/m/Y') }}</td>
            <td class="text-center">
                <button class="btn btn-outline-warning btn-sm edit-btn"
                        data-bs-booking-id="{{ booking.id }}"
                        {{ is_past_booking ? 'disabled' : '' }}
                >Edit</button>
                <button type="button" class="btn btn-outline-danger btn-sm"
                        data-bs-toggle="modal"
                        data-bs-target="#deleteConfirmation"
                        data-bs-confirmation="{{ booking.confirmation }}"
                        data-bs-booking-id="{{ booking.id }}"
                        {{ is_past_booking ? 'disabled' : '' }}
                >Delete</button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>