{% extends '_templates/base.html.twig' %}
{% set module = 'planning' %}

{% block title %}Planning{% endblock %}

{% block body %}

    <h1 class="mt-4 mb-3 text-center">Please select a user</h1>

    <div class="p-3 bg-light rounded border border-primary border-1">
        {{ form_start(user_selection_form) }}
            {{ form_errors(user_selection_form) }}
            {{ form_help(user_selection_form) }}
            {{ form_row(user_selection_form.user) }}
            <div class="d-flex justify-content-center">
                <button class="btn btn-primary m-3" type="submit">Select</button>
            </div>
        {{ form_end(user_selection_form) }}
    </div>

{% endblock %}